<div class="col s12 m12">
    {{ form_start(form) }}
    <div>
        {{ form_label(form.company) }}
        {{ form_widget(form.company) }}
    </div>
    <div>
        {{ form_label(form.fullname) }}
        {{ form_widget(form.fullname) }}
    </div>
    <div>
        {{ form_label(form.job) }}
        {{ form_widget(form.job, {'attr': {'class' : 'browser-default'}}) }}
    </div>
    <div>
        {{ form_label(form.phone) }}
        {{ form_widget(form.phone) }}
    </div>
    <div>
        {{ form_label(form.mobile) }}
        {{ form_widget(form.mobile) }}
    </div>
    <div>
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div>
        <button class="btn waves-effect waves-light color-action-darken" type="submit"><i class="material-icons right">send
            </i>Valider
        </button>
    </div>
    {{ form_end(form) }}
</div>