<div class="col s12 m12">
    {{ form_start(form) }}
    <div>
        {{ form_label(form.family) }}
        {{ form_widget(form.family, {'attr': {'class' : 'browser-default'}}) }}
    </div>
    <div>
        {{ form_label(form.category) }}
        {{ form_widget(form.category, {'attr': {'class' : 'browser-default'}}) }}
    </div>
    <div>
        {{ form_label(form.type) }}
        {{ form_widget(form.type, {'attr': {'class' : 'browser-default'}}) }}
    </div>
    <div>
        {{ form_label(form.make) }}
        {{ form_widget(form.make, {'attr': {'class' : 'browser-default'}}) }}
    </div>
    <div>
        {{ form_label(form.designation) }}
        {{ form_widget(form.designation, {'attr': {'class' : 'browser-default'}}) }}
    </div>
    <div>
        {{ form_label(form.model) }}
        {{ form_widget(form.model) }}
    </div>
    <div>
        <button class="btn waves-effect waves-light color-action-darken" type="submit"><i class="material-icons right">send
            </i>Valider
        </button>
    </div>
    {{ form_end(form) }}
</div>