{% extends 'base.html.twig' %}

    {% block body %}

        <h1>{{ app.request.get('_route')|title }}</h1>

        <div class="container form-container">
            <div class="col s12 m12">
                {{ form_start(form) }}
                <div>
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div>
                    {{ form_label(form.surname) }}
                    {{ form_widget(form.surname) }}
                </div>
                <div>
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div>
                    {{ form_label(form.role) }}
                    {{ form_widget(form.role, {'attr': {'class' : 'browser-default'}}) }}
                </div>
                <div class="checkbox-control">
                    {{ form_label(form.warehouses) }}
                    {{ form_widget(form.warehouses) }}
                </div>
                <div>
                    <button class="btn waves-effect waves-light color-action-darken full-width-submit" type="submit">VALIDER</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

    {% endblock %}




