{% extends 'base.html.twig' %}

    {% block body %}

        {% set order =  inOrderProducts[0].order %}

        <h1>Commande : {{ order.reference }}</h1>

            <div class="container form-container">

                <ul class="collection with-header">
                    <li class="collection-header"><h4>Rappel sur la commande</h4></li>
                    <li class="collection-item"><div>Montant <span class="secondary-content">{{ order.totalPrice|number_format(2, '.') }} Ar</span></div></li>
                    <li class="collection-item"><div>Client <span class="secondary-content">{{ order.orderedFor.company }}</span></div></li>
                    <li class="collection-item"><div>Adresse<span class="secondary-content">{{ order.orderedFor.address }}</span></div></li>
                    <li class="collection-item"><div>Vendeur  <span class="secondary-content">{{ order.orderedBy.fullname }}</span></div></li>
                    <li class="collection-item"><div>Commandé le <span class="secondary-content">{{ order.orderedOn|date('d-m-Y') }}</span></div></li>
                    <li class="collection-item"><div>Statut
                            <span class="secondary-content">
                                {% if app.user.role == 'ACCOUNTANT' %}
                                    {% include '/role_based_features/' ~ app.user.role|lower  ~ 'validateOrderSelect.html.twig' %}
                                {% else %}
                                    {{ inOrderProducts[0].order.status }}
                                {% endif %}
                            </span></div>
                    </li>
                    <li class="collection-item"><div>Nombre de produits <span class="secondary-content">{{ inOrderProducts|length }}</span></div></li>
                </ul>




                <ul class="collection with-header">
                    <li class="collection-header"><h4>Contenu de la commande</h4></li>
                    {% for inOrderProduct in inOrderProducts if inOrderProduct.backorder is null %}
                            <li class="collection-item"><div>{{ inOrderProduct.product.model }}<span class="secondary-content">{{ inOrderProduct.quantity }}</span></div></li>
                    {% endfor %}
                </ul>

                <ul class="collection with-header">
                    <li class="collection-header"><h4>Reliquats de la commande</h4></li>
                    {% for inOrderProduct in inOrderProducts if inOrderProduct.backorder is not null  %}
                            <li class="collection-item"><div>{{ inOrderProduct.product.model }}<span class="secondary-content">{{ inOrderProduct.quantity }}</span></div></li>
                    {% endfor %}
                </ul>

                {% if app.user.role == 'SUPPLY' or app.user.role == 'WAREHOUSEMAN' %}
                  {% include '/role_based_features/' ~ app.user.role|lower  ~ '_prepare_order_btn.html.twig'%}
                {% endif %}



            <div class="fixed-action-btn">
                <a class="btn-floating btn-large red">
                    <i class="large material-icons">settings</i>
                </a>
                <ul>
                    <li><a class="btn-floating red"><i class="material-icons">delete</i></a></li>
                    <li><a class="btn-floating blue" href="#"><i class="material-icons">add</i></a></li>
                    <li><a class="btn-floating green"><i class="material-icons">edit</i></a></li>
                    <li><a class="btn-floating yellow darken-1" href="{{ app.request.headers.get('referer') }}"><i class="material-icons">arrow_back</i></a></li>
                </ul>
            </div>

        </div>



    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
     <script type="text/javascript" src="{{ asset('build/orderStatusForm.js') }}"></script>
    {% endblock %}