<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

        <div class="navbar-fixed">
            <nav class="color-main-lighten">
                <div class="nav-wrapper">
                    <a href="{{ path('dashboard') }}" class="brand-logo">BYOB {% if is_granted('IS_AUTHENTICATED_FULLY') %} - ROLE {{ app.user.role }} {% endif %}</a>
                    <i id="trigger-nav-menu" class="right material-icons" style="font-size: 3rem">menu</i>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <ul id="nav-menu">
                                {% include 'navbar/' ~ app.user.role|lower  ~ '_navbar.html.twig' %}
                            </ul>
                        {% endif %}
                </div>
            </nav>
        </div>
        
        <main>
            {% for label, messages in app.flashes(['denied','error','success','warning','welcome']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" id="backGenerated">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </main>

        <footer class="page-footer color-main-lighten">
            <div class="container" style="text-align: center">
                <div class="row">
                    <div class="col l12 s12">
                        <h5 class="white-text">BYOB</h5>
                    </div>
                </div>
            </div>
            <div class="footer-copyright color-main-darken">
                <div class="container">
                    © 2018 G&R - BYOB
                    <a class="grey-text text-lighten-4 right" href="#!">Mentions légales</a>
                </div>
            </div>
        </footer>

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
{% endblock %}
</body>
</html>