{% extends 'base.html.twig' %}

    {% block body %}

        <h1>Préparation de la commande</h1>

        {% if matchingWarehouses|length > 0 %}

            <div class="table-container">

                <h4>Entrepôts contenant l'ensemble des produits commandés</h4>

                <table>
                    <thead>
                    <tr>
                        <th>
                            Entrepôt
                        </th>
                        <th class="secondary-content">
                            Assigner la commmande
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for warehouse in matchingWarehouses %}
                            <td>
                                {{ warehouse.name }}
                            </td>
                            <td class="secondary-content">
                                <a href="{{ path('endPreparation', { 'id' : app.request.get('id') , 'warehouseId' : warehouse.id }) }}">Assigner la commande</a>
                            </td>
                        {% endfor %}
                    </tr>

                    </tbody>
                </table>
            </div>

        {% endif %}

        {% if results|length > 0 %}

            <div class="table-container">

                <h4>Assigner les produits individuellement</h4>

                <table>
                    <thead>
                    <tr>
                        <th>
                            produit
                        </th>
                        <th>
                            entrepot
                        </th>
                        <th>
                            niveau du stock
                        </th>
                        <th>
                            quantité commandée
                        </th>
                        <th>
                            Assigné le produit
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr class="p{{ result.product.id }}">
                            <td>
                                {{ result.product.model }}
                            </td>
                            <td>
                                {{ result.warehouse.name }}
                            </td>
                            <td>
                                {{ result.level }}
                            </td>
                            <td>
                                {{ orderedQuantity[result.product.id] }}
                            </td>
                            <th>
                                <input class="manually-prepared" type="checkbox" name="manually-prepared" value="p{{ result.product.id }}_w{{ result.warehouse.id }}">
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        {% endif %}

        {% if missing|length > 0 %}

            <div class="table-container">

                <h4>Produits en rupture ou stock insuffisant</h4>

                <table>
                    <thead>
                    <tr>
                        <th>
                            produit
                        </th>
                        <th>
                            entrepot
                        </th>
                        <th>
                            niveau du stock
                        </th>
                        <th>
                            quantité commandée
                        </th>
                        <th>
                            Assigné le produit
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in missing %}
                        {% for result in product %}
                        <tr class="p{{ result.product.id }}">
                            <td>
                                {{ result.product.model }}
                            </td>
                            <td>
                                {{ result.warehouse.name }}
                            </td>
                            <td>
                                {{ result.level }}
                            </td>
                            <td>
                                {{ orderedQuantity[result.product.id] }}
                            </td>
                            <th>
                                <input class="manually-prepared browser-default" type="checkbox" name="manually-prepared" value="m{{ result.product.id }}_w{{ result.warehouse.id }}">
                            </th>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        {% endif %}

        <div class="create-entity-large">
            <a id="trigger-manual-preparation" href="{{ path('manuallyPreparedOrder', { 'id' : app.request.get('id'), 'data' : 'default' }) }}" class="btn red">VALIDER MA PREPARATION</a>
        </div>


    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('build/prepareOrder.js') }}"></script>
    {% endblock %}