{% extends 'base.html.twig' %}

    {% block body %}

        <h1>{{ app.request.get('_route')|title }}</h1>

        <div class="table-container">

            <table>
                <thead>
                <tr>
                    <th>
                        Entreprise
                    </th>
                    <th>
                        Adresse
                    </th>
                    <th>
                        Client depuis
                    </th>
                    <th>
                        Ajouté par
                    </th>
                    <th>
                        Total commande
                    </th>
                    <th>
                        <i class="material-icons">info</i>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>
                            {{ customer.company }}
                        </td>
                        <td>
                            {{ customer.address }}
                        </td>
                        <td>
                            {{ customer.addedOn|date('Y-m-d') }}
                        </td>
                        <td>
                            {{ customer.addedBy.name }} {{ customer.addedBy.surname }}
                        </td>
                        <td>
                            {{ customer.orders|length }}
                        </td>
                        <td>
                            <a href="{{ path('customerInfo', {'id' : customer.id }) }}"><i class="material-icons">info</i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="create-entity-large">
                <a href="{{ path('createCustomer') }}" class="btn"><i class="material-icons">add</i></a>
            </div>

        </div>


    {% endblock %}
