{% extends 'base.html.twig' %}

    {% block body %}

        <h1>{{ app.request.get('_route')|title }}</h1>
        <div class="table-container">

            <table>
                <thead>
                <tr>
                    <th>
                        Ref
                    </th>
                    <th>
                        Client
                    </th>
                    <th>
                        Vendeur
                    </th>
                    <th>
                        Etat
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Montant
                    </th>
                    <th>
                        <i class="material-icons">info</i>
                    </th>

                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr class="{{ order.status|colorClass }}">
                        <td>
                            {{ order.reference }}
                        </td>
                        <td>
                            {{ order.orderedFor.company }}
                        </td>
                        <td>
                            {{ order.orderedBy.name }} {{ order.orderedBy.surname }}
                        </td>
                        <td>
                            {{ order.status }}
                        </td>
                        <td>
                            {{ order.orderedOn|date('m-d-Y') }}
                        </td>
                        <td>
                            {{ order.totalPrice|number_format(2, '.') }}
                        </td>
                        <td>
                            <a href="{{ path('orderInfo', {'id' : order.id }) }}"><i class="material-icons">info</i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if app.user.role == 'ADMIN' or app.user.role == 'SALESMAN'%}
                <div class="create-entity-large">
                    <a href="{{ path('createOrder') }}" class="btn"><i class="material-icons">add</i></a>
                </div>
            {% endif %}

        </div>


    {% endblock %}

