<h2>{{ pendingValidations[0].warehouse.name }}</h2>
<table>
    <thead>
    <tr>
        <th>
           En attente depuis le
        </th>
        <th>
            Demandé par
        </th>
        <th>
            Produit
        </th>
        <th>
            Quantité
        </th>
        <th>
            Valider
        </th>
        <th>
            Refuser
        </th>
    </tr>
    </thead>
    <tbody>
    {% for pendigValidation in pendingValidations %}
        <tr>
            <td>
                {{ pendigValidation.askedOn|date('m-d-Y') }}
            </td>
            <td>
                {{ pendigValidation.askedBy.surname }}
            </td>
            <td>
                {{ pendigValidation.product.model }}
            </td>
            <td>
                {{ pendigValidation.quantity }}
            </td>
            <td>
                <a href="#" class="validate-link"><i class="material-icons">check</i></a>
            </td>
            <td>
                <a href="#" class="reject-link"><i class="material-icons">close</i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>